@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --num-col: 18;
    --num-row: 20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}
.navbar {
    height: 60px;
    background-color: antiquewhite;
    color: #333333;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

}
.navbar .title {
    color: cadetblue;
    font-weight: 600;
}
.navbar #logo img{
    margin: 10px 20px;
    max-width: 40px;
}

#main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay, .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc( 100vh - 60px );
    background-color: rgba(154, 154, 154, 0.6);
    backdrop-filter: blur(2px);
    z-index: 2;
}

.background {
    background: center center no-repeat url('images/background.jpg');
    background-size: cover;
    z-index: -1;
}

.game-field {
    /* display: flex; */
    background-color: #f3f3f3;
    width: 100%;
    max-width: 800px;
}

.play-area{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobby {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}


#get-name-box {
    padding: 10px;
    background-color: #ffebbe;
    border-radius: 8px;
    font-size: 1.4rem;
    color: #ec0000;
    margin: 10px 5px 20px;
}

.float-box {
    position: absolute;
    background: #2c3e50;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 30px;
    z-index: 10;
    
}



.float-box .new-game-box a {
    color: #77f077;
}
.float-box .new-game-box a:hover {
    color: #6fd06f;
}



.error.float-box{
    /* position: absolute; */
    color: #ff7878;
    max-width: 600px;
    z-index: 20;
}

.board {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.replay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    animation: float-in 0.5s ease-in;
}

.replay-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;

}

.replay-btn {
    animation: float-in 0.5s linear;

}

.replay-container .replay-confirm{
    background-color: #474747;
    color: #e7e7e7;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    border-radius: 20px;
    animation: float-in 0.3s ease-in;
}


.board .turn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}


.board .turn .turn-sign{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#9a9a9a;
    margin-right: 10px;
}

.board .turn .turn-sign > p {
    margin: 0;
}

.play-board {
    /* position:  absolute; */
    height: calc(var(--num-row) *35px + 1px);
    width: calc(var(--num-col)*35px +1px );
    background-color: #FFD57E;
    display: grid;
    border: #77f077 1.2px solid;
    grid-template-columns: repeat(var(--num-col), 35px);
    grid-template-rows: repeat(var(--num-row), 35px);
}

.play-board .cell {
    display: inline-flex;
    border:#626262  1px solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.play-board .cell:hover {
    background-color: #ffebbe;
}

.bottom-bar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
}

.stat-bar{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: auto;
    max-width: 1000px;
    font-weight: 400;
    font-size: 1.4rem;
    width: 100%;

}

.img-player{
    grid-area: 1 / 1 / 3 / 3;
    place-self: center;
    
}

.img-player img{
    max-width: 60px;
}

#img-player2{
    grid-area: 1 / -3 / 3 / -1;
}


.player {
    grid-area: 1 / 3 / 3 / 8;    
    color: #ff7878;      
    justify-self: left;
    align-self: center;
    padding: 0 5px;

}

#player2{
    grid-area: 1 / -8 / 3 / -3;
    justify-self: right;


}

.score {
    grid-area: 1 / 10 / 3 / 11;
    place-self: center;
}

#score2 {
    grid-area: 1 / -11 / 3 / -10;

}


.chat-field {
    max-width: 300px;
}

.winner-banner, .loser-banner {
    position: absolute;    
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1;
    animation: float-in 0.5s linear;
}

@keyframes float-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.winner-banner p, .loser-banner p {
    background-color: #f5f5dc;
    width: 120px;
    border-radius: 8px;
}



.hidden {
    display: none;
}


.btn {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px;
    font-size: 1.4rem;
}

.btn-light {
    background: #6fd06f;
    color: #fff;
}

.btn-light:hover{
    background-color: #77f077;
}

.btn-dark {
    background-color: rgb(44, 62, 80, 0.8);
    color: #fff;
}
.btn-dark:hover{
    background-color: rgb(0, 40, 100, 0.8);
    color: #fff;

}

.winner-nodes{
    color: #e30000;
    background-color: #6fd06f !important;
    border: #459d45 0.5px solid !important;
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader .spinning {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: auto;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


@media(max-height: 825px) {
    .overlay{
        height: 100%;
    }        
}

