@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Roboto', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}
.navbar {
    height: 60px;
    background-color: antiquewhite;
    color: #333333;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

}
.navbar .title {
    color: cadetblue;
    font-weight: 600;
}
.navbar #logo img{
    margin: 10px 20px;
    max-width: 40px;
}

.lobby {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 95vh;
}
.float-box {
    padding: 30px;
    background: #2c3e50;
    color: #fff;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(154, 154, 154, 0.6);
    backdrop-filter: blur(2px);
    z-index: 2;
}

.float-box .start-page a {
    color: #77f077;
}
.float-box .start-page a:hover {
    color: #6fd06f;
}

.error_msg.float-box{
    position: absolute;

    color: #ff7878;
    z-index: 20;
}

.lobby .play-board {
    position: absolute;
    height: calc(20*35px);
    width: calc(20*35px);
    background-color: #FFD57E;
    /* border: #E8BF84	30px solid; */
    margin: 20px auto;
    display: grid;
    border: black 1px solid;
    grid-template-columns: repeat(20, 35px);
    grid-template-rows: repeat(20, 35px);
}

.lobby .play-board .cell {
    display: inline-flex;
    border: black 1px solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}


.btn {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px;
}

.btn-start {
    background: #6fd06f;
    font-size: 1.4rem;
    color: #fff;
}
.btn-start:hover{
    background-color: #77f077;
    
}

.winner{
    color: blue;
}

.loader .spinning {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}